
<div class="selector-container">
    <div class="selector-header">
        <div class="title">
            <div class="img-container">
                <img src="assets/images/icons/avatar2-gray.png" />
            </div>
            <span>Elige tu personaje</span>
        </div>
        <button class="close-button" (click)="closeSelector()">
            <img src="assets/images/icons/cross.png" />
        </button>
    </div>
    <div class="character-list">
        <div
            class="character img-container"
            *ngFor="let character of characters"
            (click)="selectCharacter(character.id)"
        >
            <img [src]="character.url" alt="Character Image" />
        </div>
    </div>
    <div class="selector-header">
        <div class="title">
            <span class="color-icon"></span>
            <span>Elige un color</span>
        </div>
    </div>
    <div class="colors-list">
        <div
            class="color"
            *ngFor="let color of colors"
            [ngStyle]="{'background': color}"
            (click)="selectColor(color)"
        >
        </div>
    </div>

</div>

<!-- [ngStyle]="{'background': 'linear-gradient(120deg, #000000 0%, '+color+' 100%)'}" -->