
.character-selector-container {
    position: relative;
    width: 90%;
    background-color: black;
    border-radius: 10px;
    .selector-header {
        font-size: 1.2rem;
        font-weight: bold;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 13px 10px 5px 10px;
        .title {
            display: flex;
            align-items: center;
            color: white;
            .img-container {
                width: 30px;
                height: 30px;
                margin-right: 10px;
            }
        }
        .close-button {
            all: unset;
            width: 30px;
            height: 30px;
            cursor: pointer;
        }
    }
    .characters-list {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        padding: 2vw;
        justify-content: center;
        .character {
            width: 11vw;
            height: 11vw;
            cursor: pointer;
            border-radius: 10px;
            overflow: hidden;
        }
    }

    .color-icon {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-right: 10px;
        background: linear-gradient(120deg, #e10383 0%, #85fdf1 100%);
    }

    .colors-list {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        padding: 2vw;
        justify-content: center;
        .color {
            width: 14vw;
            height: 14vw;
            border-radius: 10px;
            cursor: pointer;
            border: 2px solid white;
        }
    }
}