
<div class="header">
    <!-- <div class="incline-left"></div> -->
    <div class="title-container" *ngIf="title; else showLogo">
        <div class="icon-container" *ngIf="icon">
            <img [src]="icon">
        </div>
        <div class="flex-column">
            <div class="title">{{title}}</div>
            <div *ngIf="subtitle" class="subtitle">{{subtitle}}</div>
        </div>
    </div>
    <ng-template #showLogo>
        <div class="img-container">
            <img src="assets/images/logo-fd.png">
        </div>
    </ng-template>

    <div class="buttons-container">
        <div class="btn" *ngFor="let button of extraButtons">
            <button class="simple-button" (click)="button.action()">
                <img [src]="button.icon">
            </button>
        </div>
    
        <div class="btn" *ngIf="showBackButton">
             <button class="simple-button" (click)="onBackClick()">
                <img src="assets/images/icons/back.png">
             </button>
        </div>
    </div>
</div>