
<div class="header">
    <div class="incline-left"></div>
    <div class="title-container" *ngIf="title; else showLogo">
        <div class="icon-container" *ngIf="icon">
            <img [src]="icon">
        </div>
        <div class="title">{{title}}</div>
    </div>
    <ng-template #showLogo>
        <div class="img-container">
            <img src="assets/images/logo-fd.png">
        </div>
    </ng-template>
    <div *ngIf="showBackButton">
        <app-back-button></app-back-button>
    </div>
</div>