<div>
    <app-header
        [title]="'Ajustes'"
        [icon]="'settings'"
        [showBackButton]="true"
    ></app-header>

    <div class="settings-container">
        <div class="setting-item">
            <label>
                Orden aleatorio al iniciar partida
                <input #chk type="checkbox"
                    [checked]="(randomPlayerOrder$ | async)"
                    (change)="toggleRandom(chk.checked)" />
            </label>
        </div>

        <div class="setting-item">
            <label>
                Vida máxima de jugadores
                <input id="health-input" #healthInput type="number"
                    [value]="(maxHealth$ | async)"
                    min="1"
                    max="50"
                    (change)="updateMaxHealth(healthInput.valueAsNumber)" />
            </label>
            <span class="setting-range">(1 - 50)</span>
        </div>
    </div>

    <div class="button-container">
        <app-custom-btn [button]="defaultsBtn"></app-custom-btn>
    </div>
</div>
