
<div class="info-container">
    <div class="info">
        <div class="info-header">
            <span>Lanzamientos</span><span>({{totalThrows}})</span>
            <button (click)="removeLastDart()">Borrar último</button>
        </div>
        <hr>
        <div class="info-throws">
            <span
                *ngFor="let info of throwInfo"
                [ngStyle]="getZoneStyle(info.area)">
                
                {{ info.area }}
                <div *ngIf="isSuccessThrow(info.area); else unSuccessThrow">
                    (+{{info.value}})
                </div>
                <ng-template #unSuccessThrow>
                    <div *ngIf="info.area === outName">(-{{info.value}})</div>
                </ng-template>
            </span>
        </div>
    </div>
    <div class="info">
        <div class="info-header">
            <span>Resultado</span>
            <button (click)="confirmTurn()">
                Confirmar turno
            </button>
        </div>
        <hr>
        <div class="info-points">
            <div>
                <div *ngFor="let damageInfo of damagesToPlayers">
                    {{damageInfo.playerName}} <span class="dmg">(-{{damageInfo.damage}})</span>
                </div>
            </div>
            <div>
                <div *ngIf="healToPlayer" class="heal-title">Curación: <span class="heal">{{healToPlayer}}</span></div>
                <div *ngIf="autoDamage" class="outs-title">Fallos: <span class="outs">{{autoDamage}}</span></div>
            </div>
        </div>
    </div>
</div>
