
body {
    width: 100%;
    height: 100%;
}

#board {
    position: relative;
    width: 95vw;
    aspect-ratio: 1;
    max-width: 700px;
    min-width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: gray;
    border-radius: 10px;
    display: inline-block;
    touch-action: none; /* importante para que no interfiera el scroll */
    will-change: transform;
    transform-origin: 0 0; /* Usamos coordenadas absolutas, no center */
    svg {
        width: 117.5%;
        aspect-ratio: 1;
        position: absolute;
        left: -10%;
    }
}
.inner-background {
    width: 87%;
    aspect-ratio: 1;
    background: #cdcdcd;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}
.outer-background {
    width: 100%;
    height: 100%;
    background-color: black;
    clip-path: circle(50% at 50% 50%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .outer-background:hover {
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
} */

// #dartboard #areas g path:hover,
// #dartboard #areas g circle:hover {
//     cursor: pointer;
//     opacity: 0.2;
// }
#dartboard #areas g path,
#dartboard #areas g circle {
    cursor: pointer;
}
#dartboard #areas g path.mobile-hover,
#dartboard #areas g circle.mobile-hover {
    opacity: 0.2;
}

#score {
    fill: white;
}
