

.board {
    position: relative;
    width: 75vw;
    aspect-ratio: 1;
    max-width: 700px;
    min-width: 250px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.background {
    width: 86%;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #cdcdcd;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.board svg {
    width: 117%;
    aspect-ratio: 1;
    position: absolute;
    left: -9.5%;
}

#dartboard #areas g path:hover,
#dartboard #areas g circle:hover {
    cursor: pointer;
    opacity: 0.6;
}

#score {
    fill: white;
}