
body {
    width: 100%;
    height: 100%;
}

.board-container {
    width: 95vw;
    background: var(--gray);
    // border-radius: 10px;
    border-radius: 50%;
    overflow: hidden; /* importante para el zoom de #board */
    display: flex;
    justify-content: center;

    // para el .show
    margin-left: 1vw;
    margin-bottom: 4vw;
}

#board { /* zoomable (pinch-zoom.ts) */
    position: relative;
    width: 100%;
    aspect-ratio: 1;
    max-width: 700px;
    min-width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    display: inline-block;
    touch-action: none; /* importante para que no interfiera el scroll al hacerle zoom */
    will-change: transform;
    transform-origin: 0 0; /* Usamos coordenadas absolutas, no center */
    svg {
        width: 117.5%;
        aspect-ratio: 1;
        position: absolute;
        left: -10%;
    }
}
.inner-background {
    width: 87%;
    aspect-ratio: 1;
    background: #cdcdcd;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}
.outer-background {
    width: 100%;
    height: 100%;
    background-color: black;
    clip-path: circle(50% at 50% 50%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#dartboard #areas g path,
#dartboard #areas g circle {
    cursor: pointer;
}

//* No funciona bien en movil *//
// #dartboard #areas g path:hover,
// #dartboard #areas g circle:hover {
//     opacity: 0.2;
// }

#dartboard #areas g path.mobile-hover,
#dartboard #areas g circle.mobile-hover {
    opacity: 0.2;
}

#score {
    fill: white;
}
