
<div class="info-container">
    <div class="info">
        <div class="info-header">
            <span>Lanzamientos</span>
            <button (click)="removeLastDart()">Borrar último</button>
        </div>
        <div class="info-throws">
            <span
                *ngFor="let info of throwInfo"
                [ngClass]="getZoneClass(info.area)">
                {{ info.area }}
                <ng-container *ngIf="isSuccessThrow(info.area)">
                    (+{{info.value}})
                </ng-container>
            </span>
        </div>
    </div>
    <div class="info">
        <div class="info-header">
            <span>Puntuación</span>
            <button>Confirmar turno</button>
        </div>
        <div class="info-points">
            <div>
                <span class="dmg">Daño: </span>
                <span>{{damage}}</span>
            </div>
            <div>
                <span class="heal">Curación: </span>
                <span>{{health}}</span>
            </div>
            <!-- <div>
                <span class="obj">Objeto: </span>
                <span>{{object}}</span>
            </div> -->
        </div>
    </div>
</div>
