
<div class="info-container">
    <div class="info">
        <div class="info-header">
            <span>Lanzamientos</span>
            <!-- <button (click)="removeDart()">Borrar último</button> -->
        </div>
        <hr>
        <div class="info-throws">
            <span *ngFor="let info of throwInfo">{{ info.name }} (+{{info.value}})</span>
        </div>
    </div>
    <div class="info">
        <div class="info-header">
            <span>Puntuación</span>
            <button>Finalizar turno</button>
        </div>
        <hr>
        <div class="info-points">
            <div>
                <span class="dmg">Daño: </span>
                <span>3</span>
            </div>
            <div>
                <span class="heal">Curación: </span>
                <span>5</span>
            </div>
            <div>
                <span class="obj">Objeto: </span>
                <span>Poción</span>
            </div>
        </div>
    </div>
</div>
