.info-container {
    width: 90vw;
    user-select: none;
}
.info {
    display: flex;
    width: 100%;
    margin-top: 15px;
    flex-direction: column;
    color: white;
    background-color: black;
    font-weight: bold;
    border-radius: 10px;
    padding: 8px;
    box-sizing: border-box;

    .info-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 3vw;
        font-size: 4vw;

        button {
            all: unset;
            cursor: pointer;
            background-color: var(--red);
            padding: 5px;
            border-radius: 10px;
            font-weight: normal;
        }
    }

    .info-throws {
        width: 100%;
        border-radius: 10px;
        padding: 5px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 15px;
        box-sizing: border-box;

        span {
            padding: 2px;
            border-radius: 5px;
            outline: 2px solid white;
            color: gray;
            font-size: 4vw;
            min-width: 35px;
            text-align: center;
        }

        span.success {
            background: white;
            color: black;
            font-weight: bold;
        }
    }
    
    .info-points {
        display: flex;
        justify-content: space-between;
        font-size: 4vw;
        padding: 5px;

        .dmg {
            color: #ed3737;
        }
        .heal {
            color: #4f9962;
        }
        .obj {
            color: lightblue;
        }
    }
    
    hr {
        width: 100%;
    }
}