
<div class="info-container">
    <div class="info">
        <div class="info-header">
            <span>Lanzamientos</span><span>({{totalThrows}})</span>
            <button (click)="removeLastDart()">Borrar último</button>
        </div>
        <div class="info-throws">
            <span
                *ngFor="let info of throwInfo"
                [ngStyle]="getZoneStyle(info.area)">
                
                {{ info.area }}
                <div *ngIf="isSuccessThrow(info.area); else unSuccessThrow">
                    (+{{info.value}})
                </div>
                <ng-template #unSuccessThrow>
                    <div>(+0)</div>
                </ng-template>
            </span>
        </div>
    </div>
    <hr>
    <div class="info">
        <div class="info-header">
            <span>Resultado</span>
            <button>Confirmar turno</button>
        </div>
        <div class="info-points">
            <div>
                <span class="dmg">Daño:</span>
                <div *ngFor="let player of damagesToPlayers">
                    {{player.name}} (-{{player.damage}})
                </div>
            </div>
            <div>
                <span class="heal">Curación: </span>
                <span>{{health}}</span>
            </div>
        </div>
    </div>
</div>
