.info-container {
    width: 90vw;
    height: 85vw;
    user-select: none;
    // background-color: black;
    border-radius: 10px;
    overflow: auto;
    // padding: 4vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2vw;

    // fondo negro translúcido
    // background: #00000091;
    // backdrop-filter: blur(10px);
}
.info {
    display: flex;
    width: 100%;
    flex-direction: column;
    color: white;
    font-weight: bold;
    // box-sizing: border-box;
    // margin-top: 15px;
    background: black;
    padding: 3vw;
    border-radius: 10px;

    .info-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 4vw;
        margin-bottom: 4vw;

        button {
            all: unset;
            cursor: pointer;
            background-color: var(--red);
            padding: 5px;
            border-radius: 10px;
            font-weight: normal;
        }
    }

    .info-throws {
        width: 100%;
        border-radius: 10px;
        padding: 5px;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 15px;
        box-sizing: border-box;

        span {
            padding: 2px;
            border-radius: 5px;
            outline: 2px solid white;
            color: gray;
            font-size: 4vw;
            min-width: 35px;
            text-align: center;
        }
    }
    
    .info-points {
        display: flex;
        justify-content: space-around;
        font-size: 4vw;
        padding: 5px;
        gap: 4vw;

        .dmg {
            color: #ed3737;
        }
        .heal {
            color: #4f9962;
        }
        .obj {
            color: lightblue;
        }
    }
    
    hr {
        width: 100%;
    }
}