

.players-container {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    height: 65vh;
    overflow-y: auto;
    padding-top: 5px;
}

.control-panel {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    background: linear-gradient(90deg, var(--gray) 30%, white 100%);
    padding: 2vw;
    justify-content: flex-end;
    border-top: 10px solid black;
    .dartboard {
        position: fixed;
        left: -32vw;
        bottom: -32vw;
        transform: scale(.3);
    }
    .button-container {
        height: 100%;
    }
}