<div>
    <app-header
        [title]="title"
        [subtitle]="subtitle"
        [icon]="'dart2'"
        [showBackButton]="true"
    ></app-header>
    <div class="players-container">
        <app-player
            *ngFor="let player of players"
            [player]="player"
            [editable]="false"
        ></app-player>
    </div>
    <div class="control-panel">
        <!-- <button (click)="testAction()">
            TEST ACTION BUTTON
        </button> -->
        <div class="dartboard">
            <app-dartboard
                [readonly]="true"
                (click)="openDartboard()"
            ></app-dartboard>
        </div>
        <div class="button-container">
            <app-generic-button
                *ngFor="let button of buttons"
                [button]="button"
            ></app-generic-button>
        </div>
    </div>
    <div class="throws-container" *ngIf="showDartboard">
        <app-dartboard-throws
            (closeDartboard)="showDartboard = false"
        ></app-dartboard-throws>
    </div>
</div>