

.players-container {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    height: 65vh;
    overflow-y: auto;
    padding-top: 5px;
}

.control-panel {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
}