
.dartboard-throws-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--gray);
    padding: 3vw;
    gap: 6vw;
    z-index: 10;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(180deg, var(--gray) 45%, white 100%);

    .close-button {
        margin-top: 10vw;
        width: 10vw;
        height: 10vw;
    }
}