

<div class="player-info-display-container">
    <div class="player-header">
        <h1>{{player.name}}</h1>
        <div>Vida: <span class="hp">{{player.hp$.getValue()}}</span></div>
    </div>
    <div>
        <img [src]="player.fighterGif" alt="Character Image" />
    </div>
    <div class="player-skill">
        <div class="skill-name">Habilidad: <i>{{player.skill?.name}}</i></div>
        <div class="skill-description">{{player.skill?.description}}</div>
    </div>
    <button class="close-button" (click)="close()">
        <img src="assets/images/icons/cross.png" />
    </button>
</div>