<div
    *ngIf="player"
    class="player-container"
    [ngClass]="{
        'current-turn': player.currentTurn,
        'three-players': !editable && totalPlayers === 3,
        'more-players': !editable && totalPlayers > 3
    }"
>
    <div class="remove-player-container" *ngIf="editable">
        <button class="remove-player-button" (click)="deletePlayer()">
            <img src="assets/images/icons/trash-white.png">
        </button>
    </div>
    <div class="character-container" [ngClass]="{'dead': !player.isAlive}" (click)="displayPlayerInfo()">
        <div class="character">
            <div class="img-container" [ngStyle]="{'background': player.background}">
                <img [src]="player.fighterGif" alt="Character Image" />
                <img *ngIf="isWinner" class="confetti" src="assets/images/confetti.gif" alt="Confetti" />
                <div class="dead-overlay" *ngIf="!player.isAlive"></div>
            </div>
        </div>
    </div>
    <div class="player-info-display" *ngIf="playerInfoDisplayed">
        <app-player-info-display
            [player]="player"
            (closeInfo)="playerInfoDisplayed = false"
        ></app-player-info-display>
    </div>

    <!-- ADDING -->
    <div class="info-container-editable polygon" *ngIf="editable; else playing">
        <div class="player-info polygon">
            <div class="player-name" [ngStyle]="{'background': player.color}">
                <input #playerInput [id]="player.name" type="text" [value]="player.name" (blur)="onPlayerNameChange($event)" maxlength="13">
                <button class="clean-input" (click)="cleanInput(playerInput)">&times;</button>
            </div>
            <div class="generic-buttons">
                <app-generic-button
                    *ngFor="let button of buttons"
                    [button]="button"
                ></app-generic-button>
            </div>
            <div class="selected-skill">
                <span>
                    <strong>Habilidad:</strong> {{player.skill?.name || 'Ninguna'}}
                </span>
            </div>
        </div>

    </div>
    <div [ngSwitch]="currentSelector">
        <app-character-selector
            *ngSwitchCase="'characters'"
            (characterEmitter)="onCharacterSelected($event)"
            (colorEmitter)="onColorSelected($event)"
            (closeEmitter)="closeSelector()"
        ></app-character-selector>
        <app-skill-selector
            *ngSwitchCase="'skills'"
            (skillEmitter)="onSkillSelected($event)"
            (closeEmitter)="closeSelector()"
        ></app-skill-selector>
    </div>

    <!-- PLAYING -->
    <ng-template #playing>
        <div *ngIf="player.tag" class="current-turn-tag" [ngStyle]="{'color': player.tag.color}">
            {{ player.tag.title }}
        </div>
        <div class="info-container polygon">
            <div class="player-info polygon">
                <div class="player-name" [ngStyle]="{'background': player.color}">
                    <span [ngClass]="{'current-turn': player.currentTurn}">{{player.name || 'Player'}}</span>
                </div>
                <div class="player-zone weak-points" *ngIf="player.weakAreas?.length">
                    <span *ngFor="let area of player.weakAreas">
                        {{area}}
                    </span>
                </div>
                <div class="player-zone heal-points" *ngIf="player.healAreas?.length">
                    <span *ngFor="let area of player.healAreas">
                        {{area}}
                    </span>
                </div>
                <!-- <div class="player-skill-name" *ngIf="player.skill?.description">
                    <i>{{player.skill?.name}}</i>
                </div> -->
            </div>
        </div>
        <div class="edit-health-btns" *ngIf="showPlayersHealthActions && !isGameOver; else playerControlPanel">
            <button class="img-container" (click)="hit()">
                <img src="assets/images/icons/hit-red.png" />
            </button>
            <button class="img-container" (click)="heal()">
                <img src="assets/images/icons/heal-green.png" />
            </button>
        </div>
        <ng-template #playerControlPanel>
            <div class="player-control-panel">
                <button *ngIf="player.skill?.description" class="img-container" (click)="{}">
                    <img src="assets/images/icons/skills/skill-gray.png" />
                </button>
                <!-- <button class="img-container">
                    <img src="assets/images/icons/skills/object.png" />
                </button> -->
            </div>
        </ng-template>
        <app-hpbar [hp$]="player.hp$" [playerId]="player.id"></app-hpbar>
    </ng-template>
</div>
