

.player-container {
    width: 100%;
    min-height: 200px;
    position: relative;
    padding: 0 10px;
    margin-bottom: 2vw;
    border-radius: 10px;
    .remove-player-container {
        position: absolute;
        z-index: 2;
        .remove-player-button {
            all: unset;
            width: 30px;
            height: 30px;
            cursor: pointer;
            border-radius: 50%;
            background-color: var(--red);
            outline: 7px solid black;
            padding: 1vw;
        }
    }
    .character-container {
        position: relative;
        width: 40vw;
        height: 20vh;
        background-color: black;
        padding: 6px 10px;
        z-index: 1;
        border-radius: 10px;
        .character {
            background-color: white;
            padding: 5px;
            overflow: hidden;
            height: 100%;
            border-radius: 10px;
            .img-container {
                border-radius: 10px;
                padding: 5px;
                overflow: hidden;
                height: 100%;
            
                img {
                    height: auto;
                }
            }
        }
    }
}




.polygon {
    clip-path: polygon(0 0, 100% 0%, 90% 100%, 0 100%);
    position: absolute;
    top: 10px;
}

/* ADDING */
.info-container-editable {
    width: 95%;
    height: 20vh;
    background: black;
    border-radius: 10px;
    .player-info {
        width: 52%;
        height: 17vh;
        background: #ffffff;
        right: 25px;
        border-radius: 12px;

        .player-name {
            position: relative;
            height: 10vw;
            background: #909090;
            display: flex;
            justify-content: center;
            align-items: center;
            input {
                all: unset;
                background: white;
                width: 80%;
                border-radius: 6px;
                padding: 3px;
                font-weight: bold;
                font-size: 5vw;
            }
            .img-container {
                width: 7vw;
                position: absolute;
                right: 2vw;
            }
        }
        .buttons {
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: absolute;
            width: 70%;
            right: 7vw;
        }
    }
    .selected-skill {
        position: absolute;
        bottom: 0;
        padding: 2vw 2vw 1vw 2vw;
        font-size: 3.1vw;
        width: 95%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .delete-btn {
            all: unset;
            width: 20px;
            height: 20px;
            cursor: pointer;
        }
    }
}

/* PLAYING */
.info-container {
    width: 95%;
    height: 17vh;
    background: black;
    border-radius: 10px;
    .player-info {
        width: 54%;
        height: 14vh;
        background: #ffffff;
        right: 25px;

        .player-name {
            position: relative;
            height: 10vw;
            background: #909090;
            display: flex;
            justify-content: center;
            align-items: center;
            input {
                all: unset;
                width: 80%;
                border-radius: 6px;
                padding: 3px;
                font-weight: bold;
                font-size: 5vw;
            }
        }
        .player-name::after {
            content: "";
            background: var(--gray);
            position: absolute;
            width: 100%;
            height: 5px;
            bottom: -10px;
        }
    }
}