<div class="player-container" *ngIf="player">
    <div class="remove-player-container">
        <button *ngIf="editable" class="remove-player-button" (click)="deletePlayer()">
            <img src="assets/images/icons/trash-white.png">
        </button>
    </div>
    <div class="character-container">
        <div class="character">
            <div class="img-container" [ngStyle]="{'background': player.color}">
                <img [src]="player.fighterGif" alt="Character Image" />
            </div>
        </div>
    </div>

    <!-- ADDING -->
    <div class="info-container-editable polygon" *ngIf="editable; else playing">
        <div class="player-info polygon">
            <div class="player-name">
                <input [id]="player.id" type="text" [placeholder]="player.name" (blur)="onPlayerNameChange($event)">
                <label [for]="player.id" class="img-container">
                    <img src="assets/images/icons/edit.png" />
                </label>
            </div>
            <div class="buttons">
                <app-generic-button
                    *ngFor="let button of buttons"
                    [button]="button"
                ></app-generic-button>
            </div>
            <div class="selected-skill">
                <span>
                    <strong>Pasiva:</strong> {{player.skill?.name || 'Ninguna'}}
                </span>
            </div>
        </div>

    </div>
    <div [ngSwitch]="currentSelector">
        <app-character-selector
            *ngSwitchCase="'characters'"
            (characterEmitter)="onCharacterSelected($event)"
            (colorEmitter)="onColorSelected($event)"
            (closeEmitter)="closeSelector()"
        ></app-character-selector>
        <app-skill-selector
            *ngSwitchCase="'skills'"
            (skillEmitter)="onSkillSelected($event)"
            (closeEmitter)="closeSelector()"
        ></app-skill-selector>
    </div>

    <!-- PLAYING -->
    <ng-template #playing>
        <div class="info-container polygon">
            <div class="player-info polygon">
                <div class="player-name">
                    <span>{{player.name || 'Player'}}</span>
                </div>
            </div>
        </div>
        <button (click)="hit()">-</button>
        <button (click)="heal()">+</button>
        <app-hpbar [hp$]="player.hp$"></app-hpbar>
    </ng-template>
</div>
