

.player-container {
    position: relative;
    width: 100%;
    padding: 0 10px;
    margin-bottom: 12vw;
    border-radius: 10px;
    min-height: 190px; // 3 jugadores
    .remove-player-container {
        position: absolute;
        z-index: 2;
        .remove-player-button {
            all: unset;
            width: 30px;
            height: 30px;
            cursor: pointer;
            border-radius: 50%;
            background-color: var(--red);
            outline: 7px solid black;
            padding: 1vw;
        }
    }
    .character-container {
        position: absolute;
        width: 40vw;
        height: 23vh;
        background-color: black;
        padding: 6px 10px;
        z-index: 1;
        border-radius: 10px;
        .character {
            background-color: white;
            padding: 5px;
            overflow: hidden;
            height: 100%;
            border-radius: 10px;
            .img-container {
                border-radius: 10px;
                padding: 5px;
                overflow: hidden;
                height: 100%;
            
                img {
                    height: auto;
                }
            }
        }
    }
}




.polygon {
    position: absolute;
    clip-path: polygon(0 0, 100% 0%, 90% 100%, 0 100%);
    top: 10px;
}

/* ADDING */
.info-container-editable {
    position: relative;
    width: 100%;
    height: 20vh;
    background: black;
    border-radius: 10px;
    .player-info {
        width: 52%;
        height: 17vh;
        background: #ffffff;
        right: 25px;
        border-radius: 12px;

        .player-name {
            position: relative;
            height: 10vw;
            background: #909090;
            display: flex;
            justify-content: center;
            align-items: center;
            input {
                all: unset;
                background: white;
                width: 80%;
                border-radius: 6px;
                padding: 3px;
                font-weight: bold;
                font-size: 5vw;
            }
            .img-container {
                position: absolute;
                width: 7vw;
                right: 2vw;
            }
        }
        .buttons {
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 70%;
            right: 7vw;
        }
    }
    .selected-skill {
        position: absolute;
        bottom: 0;
        padding: 2vw 2vw 1vw 2vw;
        font-size: 3.1vw;
        width: 95%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .delete-btn {
            all: unset;
            width: 20px;
            height: 20px;
            cursor: pointer;
        }
    }
}

/* PLAYING */
.info-container {
    position: relative;
    width: 100%;
    height: 19.5vh;
    background: black;
    border-radius: 10px;
    .player-info {
        width: 54%;
        height: 17vh;
        background: #ffffff;
        right: 25px;

        .player-name {
            position: relative;
            height: 10vw;
            background: #909090;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            span {
                // font-weight: bold;
                // text-shadow: -3px 3px 6px #00000075;
                font-size: 6vw;
                &.current-turn {
                    font-weight: bold;
                    text-shadow: -3px 3px 6px #00000075;
                    font-size: 7vw;
                }
            }
            .current-turn-img {
                position: absolute;
                width: 16vw;
                right: 2vw;
                top: 0vw;
            }
        }
        .player-name::after {
            content: "";
            position: absolute;
            background: var(--gray);
            width: 100%;
            height: 5px;
            bottom: -10px;
        }
        .player-zone {
            width: 100%;
            margin-top: 5vw;
            padding: 2vw;
            display: flex;
            justify-content: space-around;
            span {
                width: 40px;
                text-align: center;
                font-size: 4vw;
                padding: 2vw;
                border-radius: 10px;
                outline: 4px solid black;
            }
            &.heal-points span {
                color: #0a7a0a;
                outline: 3px solid #0a7a0a;
            }
            &.weak-points span {
                color: #cd0e0e;
                outline: 3px solid #cd0e0e;
            }
        }
    }
}