.hp-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -6.5vw;
  right: 15vw;
  z-index: 1;

  .hpbar-container {
    width: 280px;
    min-height: 38px;
    background-color: black;
    border-radius: 10px;
    clip-path: polygon(0% 0%, 100% 0%, 95% 100%, 0% 100%);
  }

  table {
    border-collapse: separate;
    border-spacing: 3px;
		padding: 5px 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  }

  td {
    height: 22px;
		width: 7px;
    background: linear-gradient(135deg, #38ef7d 20%, #11998e 100%);
  }

  td.low-hp {
    background: linear-gradient(135deg, #ff4e50 60%, #c0392b 100%);
  }

  td.mid-hp {
    background: linear-gradient(135deg, #ffb347 60%, #ff7c2a 100%);
  }
}

.hpbar-points {
  position: absolute;
  left: -8vw;
  background-color: black;
  border-radius: 8px;
  padding: 2vw 1vh;
  z-index: 1;
  width: 11vw;
  text-align: center;
}

.hpbar-points span {
  font-size: 6vw;
  color: white;
  font-weight: bold;
}

.ko-title {
  width: 100%;
  color: red;
  text-align: center;
  letter-spacing: 5vw;
  font-size: 4vw;
  font-weight: bolder;
}

/* OVERRIDE SI HAY 3 JUGADORES */

.hp-bar.three-players {
  bottom: -9.5vw;
}

/* OVERRIDE SI HAY MÁS DE 3 JUGADORES */

.hp-bar.more-players {
  bottom: -4vw;
  right: 14vw;

  td {
    height: 17px;
  }
}

/* Animación números flotantes */

@keyframes float-up-fade {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(-30px);
  }
}

.floating-numbers-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: visible;
}

.floating-number {
  position: absolute;
  font-weight: bold;
  font-size: 7vw;
  animation: float-up-fade 2s ease-out forwards;
  bottom: 4vh;
}

.floating-damage {
  color: red;
}

.floating-heal {
  color: green;
}