
<div class="hp-bar" [ngClass]="{'three-players': totalPlayers === 3, 'more-players': totalPlayers > 3}">
    <div class="hpbar-points">
        <!-- Puntos de vida actuales -->
        <span>{{hpArray.length}}</span>

        <!-- Animación números flotantes -->
        <div class="floating-numbers-container">
            <div 
                *ngFor="let event of activeNumbers" 
                [ngClass]="'floating-' + event.type"
                class="floating-number"
            >
                {{ (event.type === 'damage' ? '-' : '+') + event.amount }}
            </div>
        </div>
    </div>
    <div class="hpbar-container">
        <table>
            <tr>
                <td
                    *ngFor="let _ of hpArray; let i = index"
                    [ngClass]="{
                        'low-hp': i < 3,
                        'mid-hp': i >= 3 && i < 8
                    }"
                ></td>
            </tr>
        </table>
    </div>
</div>