
.players-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    height: 65vh;
    overflow-y: auto;
    .button-container {
        height: fit-content;
    }
}
.button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 17vh;
}

