<div class="flex">
    <app-header
        [title]="'Jugadores'"
        [icon]="'players'"
        [showBackButton]="true"
    ></app-header>
    <div class="players-container">
        <app-player
            *ngFor="let player of players"
            [player]="player"
            [editable]="true"
        ></app-player>
        <div class="button-container">
            <app-generic-button [button]="newPlayerBtn"></app-generic-button>
        </div>
    </div>
    <div class="button-container">
        <app-custom-btn [button]="readyBtn"></app-custom-btn>
    </div>
</div>