
:root {
  --red: #da4453;
  --dark-red: #a52b2b;
  --green: #38ef7d;
  --dark-green: #07941a;
  --gray: #797979;
  --lgray: #b4b4b4;
  --yellow: #bda807;
}

* {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  /* font-family: sans-serif; */
  font-family: monospace;

}

body {
  background-color: gray;
  padding: 0;
  margin: 0;

  height: 100%;
  overflow: auto;
}

.background-general {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-image: url('/assets/images/bgs/bg1.jpg');
}

/* .incline-left {
  clip-path: polygon(0 0, 100% 0%, 100% 60%, 0 90%);
  width: 100%;
  height: 100%;
  background: black;
}

.incline-right {
  clip-path: polygon(100% 0, 0 0, 0 50%, 100% 90%);
  width: 101%;
  height: 100%;
  background: black;
} */

img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.close-button {
  all: unset;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

hr {
  width: 100%;
}

.simple-button {
  position: absolute;
  width: 40px;
  height: 40px;
  right: 10px;
  bottom: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* Estilos generales para los selectores */

.selector-container {
  position: relative;
  width: 100%;
  background-color: black;
  border-radius: 10px;
  z-index: 1;
}

.selector-container .selector-header {
  font-size: 5vw;
  font-weight: bold;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 13px 10px 5px 10px;
}

.selector-container .selector-header .title {
  display: flex;
  align-items: center;
  color: white;
}
.selector-container .selector-header .title .img-container {
  width: 14vw;
  height: 14vw;
  margin-right: 10px;
}


